@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
    background-color: #9C3848 !important; /** #fafafa (Este color es mas comun en material design) **/ 
  }
  body {
    margin: 0;
  }

  .mat-tab-label {
    min-width: 0%!important;
    width: 100%;
  }
  .mat-tab-header-pagination {
    display: none!important;
  }

  