@import "~@angular/material/prebuilt-themes/indigo-pink.css";


html {
    background-image: url("images/fondo.png") ;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body {
    margin: 0;
  }

  .mat-tab-label {
    min-width: 0%!important;
    width: 100%;
  }
  .mat-tab-header-pagination {
    display: none!important;
  }
  