#title {
    font-size: 13pt;
}
.example-spacer {
    flex: 1 1 auto;
  }

.container {
    margin: 50px auto;
    width: 90%;
}

.container mat-card {
    margin: 20px;
    width: 350px;
}

mat-card-actions {
    text-align: right;
}

#toolbar{
    background-color: #033f63;
}

.example-card{
    background-color: #ffede1;
}