#title {
  font-size: 13pt;
}

#navbar-right {
  margin-left: auto;
}

.container {
  margin: 50px auto;
  width: 90%;
}

.container mat-card {
  margin: 20px;
  width: 350px;
}

mat-card-actions {
  text-align: right;
}

#toolbar {
  background-color: #033f63;
}

.example-card {
  background-color: #ffede1;
}

mat-toolbar {
  overflow: hidden;
}

@media (min-width: 1000px) {
  mat-toolbar-row > .mat-icon-button {
      display: none;
  }

  mat-sidenav {
    display: none;
  }
}

@media (max-width: 999px) {
  mat-toolbar-row .mat-button {
    display:none;
  }
}

.navbar-logo {
  background-image: url('../../images/logo.png');
  height: 62px;
  width: 170px;
  border-radius: 0%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

a.mat-button {
  margin: 0 0 0 1%;
}

a.mat-button:first-child {
  margin: 0 2% 0 1%;
}

#floatingButton {
  position: fixed;
  right: 5%;
  bottom: 5%;
  z-index: 9999999;
}

mat-sidenav {
  position: fixed;
  background-color: #033f63;
  color: white;
  width: 100%;
  z-index: 99999999999;
}

.center {
  text-align: center;
}

mat-sidenav li {
  list-style-type: none;
  text-decoration: none;
}