<div fxFlex="100%" fxFlexFill>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlexFill>
    
    <ng-container matColumnDef="datosMaestros">
      <th mat-header-cell *matHeaderCellDef> Producto </th>
      <td mat-cell *matCellDef="let element"> {{element.datosMaestros}} </td>
    </ng-container>
    
    <!-- Position Column -->
    <ng-container matColumnDef="dato">
      <th mat-header-cell *matHeaderCellDef> Dato </th>
      <td mat-cell *matCellDef="let element"> {{element.dato}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="cantidad">
      <th mat-header-cell *matHeaderCellDef> Cantidad </th>
      <td mat-cell *matCellDef="let element"> {{element.cantidad}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let element"> {{element.fecha}} </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="eliminarAportacion(alement)"><i class="material-icons">
            delete</i></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button mat-fab id="floatingButton" (click)="openAportacionDialog(campanyaId)">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div fxFlex="100%" fxFlexFill>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" fxFlexFill>
  
      <ng-container matColumnDef="datosMaestros">
        <th mat-header-cell *matHeaderCellDef> ? </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="dato">
        <th mat-header-cell *matHeaderCellDef> ? </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="cantidad">
        <th mat-header-cell *matHeaderCellDef> ? </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="fecha">
        <th mat-header-cell *matHeaderCellDef> ? </th>
        <td mat-cell *matCellDef="let element">  </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <button mat-fab id="floatingButton2" [routerLink]="['/main']">
    <mat-icon>arrow_back</mat-icon>
  </button>
 

