div:first-child{
    max-width: 75% !important;
    width: 75% !important;
    margin: 0 auto;
    margin-top: 10%;
    
}

.mat-header-cell{
    text-align: center;
    padding: 0px !important;
}

.mat-cell{
    text-align: center;
    padding: 0px !important;
}

#boton{
    margin-right: 2% !important;
}

#floatingButton {
    position: fixed;
    left: 5%;
    top: 5%;
    z-index: 9999999;
  }

  @media (max-width: 675px) {
    div:first-child{
        margin-top: 20%;
    }
  }

  @media (max-width: 460px) {
    div:first-child{
        margin-top: 25%;
    }
  }

  @media (max-width: 265px) {
    div:first-child{
        margin-top: 28%;
    }
  }